/* p.error{
    color: red;
}
p.success{
color: #4fdb4f;
}

p.success.feedback{
  border: 1px solid greenyellow;
}

#content{
    background-color: #ebebeb;
    padding: 20px;
} */

/* div .error{
    color: red;
}
.first{
background-color: chartreuse;
color: white;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
}
.second{
    background-color: red;
color: white;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
} */

div{
    color: lightcoral;
    border:1px solid grey;
    margin: 40px;
    font-weight: bold;
}
p{
    border: inherit;
    margin: inherit;
    color: crimson;
}
p{
    color: orange;
}